<header>
    <div class="container">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <div class="header-right">
            <a href="#" id="download-cv-link" class="download-cv-btn" style="display: none;">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="currentColor">
                    <path d="M8.5 11.5l3-3h-2v-5h-3v5h-2l3 3z"/>
                    <path d="M3 13h10v1H3z"/>
                </svg>
                Download CV
            </a>
            <div class="language-switcher">
                <button class="language-btn" data-lang="en" title="English">EN</button>
                <button class="language-btn" data-lang="es" title="Español">ES</button>
                <button class="language-btn" data-lang="pt" title="Português">PT</button>
            </div>
        </div>
    </div>
</header>