<header>
    <div class="container">
        <a class="site-title" href="{{ '/' | relative_url }}">{{ site.title }}</a>
        <div class="language-selector">
            {% assign languages = "en,es,pt" | split: "," %}
            {% for lang in languages %}
                {% assign lang_data = site.data[lang] %}
                <button class="language-btn" data-lang="{{ lang_data.lang_code }}" title="{{ lang_data.lang_name }}">
                    {{ lang_data.flag_emoji }} {{ lang_data.lang_code | upcase }}
                </button>
            {% endfor %}
        </div>
    </div>
</header>